backend/soap/payment.wsdl

<definitions name="PaymentService"
             targetNamespace="http://localhost:3000/soap/payment"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://localhost:3000/soap/payment"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <xsd:schema targetNamespace="http://localhost:3000/soap/payment">
            <xsd:element name="createPaymentRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ride_id" type="xsd:int"/>
                        <xsd:element name="amount" type="xsd:decimal"/>
                        <xsd:element name="method" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="createPaymentResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="transaction_id" type="xsd:string"/>
                        <xsd:element name="status" type="xsd:string"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="CreatePaymentInput">
        <part name="parameters" element="tns:createPaymentRequest"/>
    </message>
    <message name="CreatePaymentOutput">
        <part name="parameters" element="tns:createPaymentResponse"/>
    </message>

    <portType name="PaymentPortType">
        <operation name="createPaymentRequest">
            <input message="tns:CreatePaymentInput"/>
            <output message="tns:CreatePaymentOutput"/>
        </operation>
    </portType>

    <binding name="PaymentBinding" type="tns:PaymentPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createPaymentRequest">
            <soap:operation soapAction="createPaymentRequest"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="PaymentService">
        <port name="PaymentPort" binding="tns:PaymentBinding">
            <soap:address location="http://localhost:3000/soap/payment"/>
        </port>
    </service>
</definitions>